<nav><a href="align-self.html">Next</a><a href="align-content.html">Last</a>
</nav>
<br>
<h1>align-content<br>(only with flex-wrap: wrap)</h1>
<h2>The boxes should align at flex-start (top)</h2>
<div class="flex align-items-flex-start">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align at flex-end (bottom)</h2>
<div class="flex align-items-flex-end">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should be centered</h2>
<div class="flex align-items-center">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align at baseline</h2>
<div class="flex align-items-baseline">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should stretch itself</h2>
<div class="flex align-items-stretch">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>