<nav><a href="align-items.html">Next</a>
</nav>
<br>
<h1>align-content<br>(only with flex-wrap: wrap)</h1>
<h2>The boxes should align at flex-start (top)</h2>
<div class="flex flex-wrap-wrap align-content-flex-start">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align at flex-end (bottom)</h2>
<div class="flex flex-wrap-wrap align-content-flex-end">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align at center</h2>
<div class="flex flex-wrap-wrap align-content-center">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align with space-between</h2>
<div class="flex flex-wrap-wrap align-content-space-betweeen">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should align with space-around</h2>
<div class="flex flex-wrap-wrap align-content-space-around">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>