<nav><a href="center.html">Next</a><a href="align-items.html">Last</a>
</nav>
<br>
<h1>align-self (hbox)</h1>
<h2>Box 1 should align at flex-start (top)</h2>
<h2>Box 2 should align at flex-end (bottom)</h2>
<h2>Box 3 should be centered vertically</h2>
<h2>Box 4 should align at baseline</h2>
<h2>Box 5 should stretch itself</h2>
<div class="flex hbox">
    <span class="align-self-flex-start">Box 1</span>
    <span class="align-self-flex-end">Box 2</span>
    <span class="align-self-center">Box 3</span>
    <span class="align-self-baseline">Box 4</span>
    <span class="align-self-stretch">Box 5</span>
</div>
<h1>align-self (vbox)</h1>
<h2>Box 1 should align at flex-start (top)</h2>
<h2>Box 2 should align at flex-end (bottom)</h2>
<h2>Box 3 should be centered horizontally</h2>
<h2>Box 4 should align at baseline</h2>
<h2>Box 5 should stretch itself</h2>
<div class="flex vbox">
    <span class="align-self-flex-start">Box 1</span>
    <span class="align-self-flex-end">Box 2</span>
    <span class="align-self-center">Box 3</span>
    <span class="align-self-baseline">Box 4</span>
    <span class="align-self-stretch">Box 5</span>
</div>