<nav><a href="hbox.html">Next</a><a href="align-self.html">Last</a>
</nav>

<br>
<h1>center</h1>
<h2>The boxes should center horizontally</h2>
<div class="center-main-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should center vertically</h2>
<div class="center-cross-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should center vertically and horizontally</h2>
<div class="center">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>