<nav><a href="stretch.html">Next</a><a href="center.html">Last</a>
</nav>

<br>
<h1>hbox (horizontal box)</h1>
<h2>The boxes should render horizontal next to each other</h2>
<div class="hbox">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render horizontal next to each other, centered on the main axis</h2>
<div class="hbox center-main-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render horizontal next to each other, centered on the cross axis</h2>
<div class="hbox center-cross-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render horizontal next to each other, centered on the cross and main axis</h2>
<div class="hbox center">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>