<nav><a href="vbox.html">Next</a><a href="hbox.html">Last</a>
</nav>
<br>
<h1>Stretch</h1>
<h2>The boxes should render horizontal to each other, stretched</h2>
<div class="flex align-items-stretch">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render vertical to each other, stretched</h2>
<div class="vbox align-content-stretch">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render horizontal to each other, stretched vertically</h2>
<div class="hbox stretch">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render vertical to each other, stretched horizontally</h2>
<div class="vbox stretch">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>