<nav>
    <a href="vbox.html"></a><a href="stretch.html">Last</a>
</nav>
<br>
<h1>vbox (vertical box)</h1>
<h2>The boxes should render vertical next to each other</h2>
<div class="vbox">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render vertical next to each other, centered on the main axis</h2>
<div class="vbox center-main-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render vertical next to each other, centered on the cross axis</h2>
<div class="vbox center-cross-axis">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>
<h2>The boxes should render vertical next to each other, centered on the cross and main axis</h2>
<div class="vbox center">
    <span>Box 1</span>
    <span>Box 2</span>
    <span>Box 3</span>
</div>