<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../../bin/core.min.css" type="text/css">
    <link rel="stylesheet" href="../../style.css" type="text/css">
    <title>Obscene Core | Testing: Flexbox</title>
</head>

<body>
    <br>
    <h1>center</h1>
    <h2>The boxes should center horizontally</h2>
    <div class="center-main-axis">
        <span>Box 1</span>
        <span>Box 2</span>
        <span>Box 3</span>
    </div>
    <h2>The boxes should center vertically</h2>
    <div class="center-cross-axis">
        <span>Box 1</span>
        <span>Box 2</span>
        <span>Box 3</span>
    </div>
    <h2>The boxes should center vertically and horizontally</h2>
    <div class="center">
        <span>Box 1</span>
        <span>Box 2</span>
        <span>Box 3</span>
    </div>
</body>

</html>